@use '../tools/' as *;

// ----------------------------
/*   --- general settings --- */
// ----------------------------

$debug: false;


/* --- general settings --- */

// --- HTML settings: box sizing, selection
html {
    @include box-sizing (border-box);
    @include selection ($clr-bg-body);
    font-size: var(--font-size);
}


body {
    font-family: $font-family-Figtree;
    font-optical-sizing: auto;
    background-color: $clr-bg-body ;
    height: 100dvh;
    width: 100dvw;
    @include flexCenter;
}